<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionName" value="Access"/>
  </appSettings>
  <appSettings>
    <add key="Database" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source =C:\Users\ycchen10\OneDrive - kochind.com\Desktop\MolexPlugIn-12.0\Cofigure\MolexPlup-2020.1.7.accdb;Persist Security Info=True;Jet OLEDB:Database Password = chyuch@0802; UserId = admin"/>
  </appSettings>
</configuration>